@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 48, 56, 65;
  --background-start-rgb: 58, 71, 80;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:rgb(48, 56, 65);
  scroll-behavior: smooth !important;
}

/* Custom Group styling */

.nav-item {
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.nav-item:hover{
  color: var(--color-primary);
  font-weight: 900;
}

.hero-shape{
  /* clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%); */
  }

  .introDiv:hover {
    transform: scale(1.1);
  }